* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem;
}
ul {
  list-style-type: none;
}
.content-wrapper {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  height: 100%;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  color: #fff;
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #0008;
  border-radius: 8px;
  padding: 6px 10px;
}
.navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.navbar a {
  display: block;
  font-size: 20px;
  color: #fff8;
  text-decoration: none;
  padding: 8px 20px;
}
.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: 1;
}
.navbar a,
.target {
  transition: all 0.35s ease-in-out;
}
