@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik Dirt", cursive;
  color: #fffa;
  text-transform: capitalize;
}
.landing {
  min-height: calc(100vw / 2);
  display: flex;
  background-color: aquamarine;
}
.left-side {
  width: 50%;
  height: calc(100vw / 2);
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side {
  width: 50%;
  height: calc(100vw / 2);
  background-color: darkorange;
}
.top-part {
  display: flex;
  height: 50%;
}
.top-left {
  width: 50%;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-right {
  width: 50%;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-part {
  display: flex;
  height: 50%;
}
.bottom-left {
  width: 50%;
  background-color: darkolivegreen;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-right {
  width: 50%;
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
}
